<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>munster</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">munster</ion-title>
    </ion-toolbar>
  </ion-header>
  <main class="container">
    <img src="https://upload.wikimedia.org/wikipedia/commons/7/7d/Flag_of_Munster.svg" alt="munster flag" />
  </main>
</ion-content>
