<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Provinces of Ireland
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Provinces of Ireland</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ul>
      @for(province of provinces; track province) {
          <li>
        <a routerLink={{province.url}}>
            {{province.name}}
        </a>
          </li>
      }
    </ul>
  </div>
</ion-content>
