<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>connaught</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">connaught</ion-title>
    </ion-toolbar>
  </ion-header>
  <main class="container">
    <ion-img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Flag_of_Connacht.svg/300px-Flag_of_Connacht.svg.png" alt="Connaught flag" />
  </main>
</ion-content>
